<div class="large-4 columns">
  <span> Champ de Mars <br/>
         5 Avenue Anatole <br/>
         75007 Paris, France
  </span>
</div>
<div class="large-4 columns" align="center">
  <%= image_tag lorem.image('150x50', :text => 'logo', :random_color => true) %>
  <p> Organization tagline here</p>
</div>
<div class="large-4 columns" align="right">
  <span>Powered by <a href="http://drupal.org">Drupal</a></span>
</div>
<hr />
<div class="large-6 columns">
  <p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
  <ul class="inline-list right">
    <li><%= link_to 'Link 1', '#' %></li>
    <li><%= link_to 'Link 2', '#' %></li>
    <li><%= link_to 'Link 3', '#' %></li>
    <li><%= link_to 'Link 4', '#' %></li>
  </ul>
</div>
